<div class="text-center">
    <p>An error occured, please try to play later...</p>
    <button id="restart" class="btn btn-info btn-lg"><span class="glyphicon glyphicon-repeat"> </span> Play again</button>
</div>