body, html {
	font-family: Helvetica, sans-serif;
	background-color: #3179B5;
	height: 100%;
	background-image: radial-gradient(circle, #269, #274256);
	background-image: -webkit-radial-gradient(circle, #269, #274256);
	margin: 10px;
}

.img_poster{
		width: 75px;
		border-radius: 2px;
	}

@media (min-width: 360px){ 
	.img_poster{
		width: 100px;
		border-radius: 2px;
	}
}
@media (min-width: 768px){ 
 	.img_poster{
		width: 200px;
		border-radius: 5px;
	} 
}

#scoreBoard{
	padding: 10px;
	font-size: 18px;
	color: #fff;
}

#gameContent, #highscore-div{
	padding: 10px;
	color: #555;
	background-color: #fff;
	border-radius: 5px;
}

.loading, .error, .game-over{
	color: #fff;
}